In [1]:
import pandas as pd
import psycopg2 as psql
from sqlalchemy import create_engine

In [2]:
conn_string = "postgresql+psycopg2://postgres:Northeastern2025!@127.0.0.1/group1_nba_olap"
db = create_engine(conn_string)
conn = db.connect()
connection = psql.connect(
    dbname="group1_nba_olap",
    user="postgres",
    password="Northeastern2025!",
    host="127.0.0.1",
    port="5432"
)
connection.autocommit = True

# Create a cursor object
cursor = connection.cursor()

### Player Table

In [3]:
players = pd.read_csv("./Data/players.csv")
players = players[["PLAYER_ID", "PLAYER", "POSITION", "HEIGHT", "WEIGHT", "BIRTH_DATE"]].rename(columns={
    "PLAYER_ID": "player_id", 
    "PLAYER": "name",
    "POSITION": "position", 
    "HEIGHT": "height",
    "WEIGHT": "weight",
    "BIRTH_DATE": "date_of_birth"
})
players.shape

(2583, 6)

In [4]:
players_query = """
DROP TABLE IF EXISTS players;
CREATE TABLE players (
    player_id VARCHAR(8) NOT NULL PRIMARY KEY,
    name VARCHAR(60),
    position VARCHAR(5),
    height INT,
    weight FLOAT,
    date_of_birth DATE
);
"""
cursor.execute(players_query)
_ = players.to_sql("players", db, if_exists="replace", index=False)

### Game Table

In [5]:
games = pd.read_csv("./Data/games.csv")
games = games[["GAME_ID", "HOME_POINTS", "AWAY_POINTS", "IS_PLAYOFFS", "HOME_TEAM_ABBR", "AWAY_TEAM_ABBR"]].rename(columns={
    "GAME_ID": "game_id", 
    "HOME_POINTS": "home_points",
    "AWAY_POINTS": "away_points", 
    "IS_PLAYOFFS": "is_playoff", 
    "HOME_TEAM_ABBR": "home_team_abbr", 
    "AWAY_TEAM_ABBR": "away_team_abbr"
})
games.shape

(6427, 6)

In [6]:
games_query = """
DROP TABLE IF EXISTS games;
CREATE TABLE games (
    game_id CHAR(8) NOT NULL PRIMARY KEY,
    home_points FLOAT,
    away_points FLOAT,
    is_playoff BOOL,
    home_team_abbr CHAR(3),
    away_team_abbr CHAR(3)
);
"""
cursor.execute(games_query)
_ = games.to_sql("games", db, if_exists="replace", index=False)

### Team Table

In [7]:
teams = pd.read_csv("./Data/teams.csv")
teams = teams[["abbreviation", "id", "nickname", "city", "state", "Conference", "Division"]].rename(columns={
    "id": "team_id",
    "nickname": "team_name", 
    "abbreviation": "team_abbr",
    "Conference": "conference",
    "Division": "division"
})
teams.shape

(30, 7)

In [8]:
teams_query = """
DROP TABLE IF EXISTS teams;
CREATE TABLE teams (
    team_abbr CHAR(3) NOT NULL PRIMARY KEY,
    team_id CHAR(10),
    team_name VARCHAR(20),
    city VARCHAR(20),
    state VARCHAR(20),
    conference VARCHAR(20),
    division VARCHAR(20)
);
"""
cursor.execute(teams_query)
_ = teams.to_sql("teams", db, if_exists="replace", index=False)

### Season Table

In [9]:
seasons = pd.DataFrame({
    "season_start": [2020, 2021, 2022, 2023, 2024],
    "season_end": [2021, 2022, 2023, 2024, 2025]
})
seasons_query = """
DROP TABLE IF EXISTS seasons;
CREATE TABLE seasons (
    season_start INT NOT NULL PRIMARY KEY,
    season_end INT
);
"""
cursor.execute(seasons_query)
_ = seasons.to_sql("seasons", db, if_exists="replace", index=False)

### Date Hierarchy Tables

In [10]:
years = pd.DataFrame({"year": [2020, 2021, 2022, 2023, 2024, 2025]})
months = pd.DataFrame({
    "month_num": list(range(1, 73)),
    "month_name": ["January", "February", "March", "April", "May", "June", 
                   "July", "August", "September", "October", "November", "December"] * 6, 
    "year": [2020] * 12 + [2021] * 12 + [2022] * 12 + [2023] * 12 + [2024] * 12 + [2025] * 12
})
dates = pd.DataFrame({
    "date": pd.to_datetime(pd.read_csv("./Data/games.csv")["GAME_DATE"])\
        .map(lambda x: x.date()).unique()
})
week_days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
dates["day_of_week"] = dates["date"].map(lambda x: week_days[x.weekday()])
dates["month_num"] = dates["date"].map(lambda x: x.month + 12 * (x.year - 2020))
date_hierarchies_query = """
DROP TABLE IF EXISTS years;
CREATE TABLE years (
    year INT NOT NULL PRIMARY KEY
);
DROP TABLE IF EXISTS months;
CREATE TABLE months (
    month_num INT NOT NULL PRIMARY KEY,
    month_name VARCHAR(10),
    year INT NOT NULL
);
DROP TABLE IF EXISTS dates;
CREATE TABLE dates (
    date DATE NOT NULL PRIMARY KEY,
    day_of_week VARCHAR(10),
    month_num INT NOT NULL
);
"""
cursor.execute(date_hierarchies_query)
_ = years.to_sql("years", db, if_exists="replace", index=False)
_ = months.to_sql("months", db, if_exists="replace", index=False)
_ = dates.to_sql("dates", db, if_exists="replace", index=False)

### Player Game Fact Table

In [11]:
player_game_fact = pd.read_csv("./Data/players_game_stats.csv")
player_game_fact = player_game_fact[[
    "PLAYER_ID", "GAME_ID", "MIN", "PTS", "FGM", "FG_PCT", "FG3M", "FG3_PCT", "FTM", "FT_PCT",
    "REB", "AST", "STL", "BLK", "TOV"
]].rename(columns=dict(zip(player_game_fact.columns, [
    "player_id", "game_id", "minutes", "points", "field_goals_made", "field_goals_pct", 
    "three_pointers_made", "three_pointers_pct", "free_throws_made", "free_throws_pct",
    "rebounds", "assists", "steals", "blocks", "turnovers"
])))
player_game_fact = player_game_fact.merge(
    pd.read_csv("./Data/games.csv")[["GAME_ID", "GAME_DATE"]],
    left_on="game_id", right_on="GAME_ID"
).drop(columns="GAME_ID").rename(columns={"GAME_DATE": "date"})
player_game_fact = player_game_fact[[
    "player_id", "game_id", "date", "minutes", "points", "field_goals_made", "field_goals_pct", 
    "three_pointers_made", "three_pointers_pct", "free_throws_made", "free_throws_pct",
    "rebounds", "assists", "steals", "blocks", "turnovers"
]]
player_game_fact.shape

(136786, 16)

In [12]:
player_game_fact_query = """
DROP TABLE IF EXISTS player_game_fact;
CREATE TABLE player_game_fact (
    player_id VARCHAR(8) NOT NULL,
    game_id CHAR(8) NOT NULL,
    date DATE NOT NULL,
    minutes INT,
    points INT,
    field_goals_made INT,
    field_goals_pct FLOAT,
    three_pointers_made INT,
    three_pointers_pct FLOAT,
    free_throws_made INT,
    free_throws_pct FLOAT,
    rebounds INT,
    assists INT,
    blocks INT,
    turnovers INT
);
"""
cursor.execute(player_game_fact_query)
_ = player_game_fact.to_sql("player_game_fact", db, if_exists="replace", index=False)

### Team Game Fact Table

In [13]:
team_game_fact = pd.read_csv("./Data/games.csv")
home = team_game_fact[["HOME_TEAM_ABBR", "GAME_ID", "HOME_POINTS", "AWAY_POINTS", "SEASON_ID", "GAME_DATE"]]\
    .rename(columns=dict(zip(
        ["HOME_TEAM_ABBR", "GAME_ID", "HOME_POINTS", "AWAY_POINTS", "SEASON_ID", "GAME_DATE"],
        ["team_abbr", "game_id", "points_for", "points_against", "season_start", "date"]
    )))
home["win"] = team_game_fact.HOME_POINTS > team_game_fact.AWAY_POINTS
away = team_game_fact[["AWAY_TEAM_ABBR", "GAME_ID", "AWAY_POINTS", "HOME_POINTS", "SEASON_ID", "GAME_DATE"]]\
    .rename(columns=dict(zip(
        ["AWAY_TEAM_ABBR", "GAME_ID", "AWAY_POINTS", "HOME_POINTS", "SEASON_ID", "GAME_DATE"],
        ["team_abbr", "game_id", "points_for", "points_against", "season_start", "date"]
    )))
away["win"] = team_game_fact.HOME_POINTS < team_game_fact.AWAY_POINTS
team_game_fact = pd.concat([home, away])[["team_abbr", "game_id", "points_for", "points_against", 
                         "win", "date", "season_start"]]
team_game_fact.shape

(12854, 7)

In [14]:
team_game_fact_query = """
DROP TABLE IF EXISTS team_game_fact;
CREATE TABLE team_game_fact (
    team_id CHAR(3) NOT NULL,
    game_id CHAR(8) NOT NULL,
    points_for INT,
    points_agains INT,
    win BOOL,
    date DATE NOT NULL,
    season_start INT
);
"""
cursor.execute(team_game_fact_query)
_ = team_game_fact.to_sql("team_game_fact", db, if_exists="replace", index=False)

### Team Season Fact Table

In [15]:
team_season_fact = pd.read_csv("./Data/team_season_stats.csv")
team_season_fact.shape

(150, 5)

In [16]:
team_season_fact_query = """
DROP TABLE IF EXISTS team_season_fact;
CREATE TABLE team_season_fact (
    team_abbr CHAR(3) NOT NULL,
    wins INT,
    losses INT,
    made_playoffs BOOL
);
"""
cursor.execute(team_season_fact_query)
_ = team_season_fact.to_sql("team_season_fact", db, if_exists="replace", index=False)

### Contract Fact Table

In [17]:
contract_fact = pd.read_csv("./Data/player_salaries.csv").rename(
    columns={
        "SEASON": "season_start",
        "PLAYER_ID": "player_id",
        "Salary": "salary"
    }
)
contract_fact = contract_fact.merge(
    pd.read_csv("./Data/players.csv").merge(
        teams, left_on="TeamID", right_on="team_id"
    )[["PLAYER_ID", "SEASON", "team_abbr"]].rename(columns={
        "PLAYER_ID": "player_id", "SEASON": "season_start"
    }),
    on=["player_id", "season_start"]
)[["team_abbr", "player_id", "season_start", "salary"]]
contract_fact.shape

(2181, 4)

In [18]:
contract_fact_query = """
DROP TABLE IF EXISTS contract_fact;
CREATE TABLE contract_fact (
    player_id VARCHAR(8) NOT NULL,
    team_abbr CHAR(3) NOT NULL,
    season_id INT NOT NULL,
    salary INT
);
"""
cursor.execute(contract_fact_query)
_ = contract_fact.to_sql("contract_fact", db, if_exists="replace", index=False)